ES_Common_Model/Schemas/killsessions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.eniquesolutions.com/killsessions" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eniquesolutions.com/killsessions">

    <complexType name="killsessionType">
    	<sequence>
    		<element name="SessionId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="killsession" type="tns:killsessionsType"></element>
    
    <complexType name="killsessionsType">
    	<sequence>
    		<element name="SessionsId" type="tns:killsessionType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>