ES_Common_Model/Schemas/Orderstatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.eniquesolutions.com/Orderstatus" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eniquesolutions.com/Orderstatus">

    <complexType name="orderstatusType">
    	<sequence>
    		<element name="ORDER_ID" type="string"></element>
    		<element name="ORDER_STATUS" type="string"></element>
    	</sequence>
    </complexType>

    <element name="orderstatus" type="tns:orderstatusType"></element>
</schema>