ES_Common_Model/Service Descriptors/Orders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Orders/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Orders" targetNamespace="http://www.tibco.com/Orders/" xmlns:xsd1="http://www.eniquesolutions.com/ES_BS_OrderManagement" xmlns:xsd2="http://www.eniquesolutions.com/Es_ProductManagement">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Orders/">
      <xsd:element name="CreateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeeleteOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeeleteOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderHistory">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderHistoryResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.eniquesolutions.com/ES_BS_OrderManagement"
    		schemaLocation="../Schemas/ES_BS_OrderManagement.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.eniquesolutions.com/Es_ProductManagement"
    		schemaLocation="../Schemas/ES_productmanagement.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreateOrderRequest">
    <wsdl:part element="xsd1:createOrderReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateOrderResponse">
    <wsdl:part element="xsd1:createOrderResp" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:GetorderReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderResponse">
  	<wsdl:part name="parameters" element="xsd1:GetorderResp"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:UpdateorderReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrderResponse">
  	<wsdl:part name="parameters" element="xsd1:UpdateorderResp"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:CancelOrderReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelOrderResponse">
  	<wsdl:part name="parameters" element="xsd1:CancelOrderResp"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryRequest">
  	<wsdl:part name="parameters" element="xsd1:GetorderHistoryReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryResponse">
  	<wsdl:part name="parameters" element="xsd1:getorderHistoryResp"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Orders">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderRequest"/>
      <wsdl:output message="tns:CreateOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
    	<wsdl:input message="tns:GetOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:GetOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
    	<wsdl:input message="tns:UpdateOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
    	<wsdl:input message="tns:CancelOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:CancelOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderHistory">
    	<wsdl:input message="tns:GetOrderHistoryRequest"></wsdl:input>
    	<wsdl:output message="tns:GetOrderHistoryResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdersSOAP" type="tns:Orders">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://www.tibco.com/Orders/CreateOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Orders">
    <wsdl:port binding="tns:OrdersSOAP" name="OrdersSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
