ES_Common_Model/Service Descriptors/Payments.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Payments/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Payments" targetNamespace="http://www.tibco.com/Payments/" xmlns:xsd1="http://www.example.org/Payments">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Payments/">
      <xsd:element name="MakePayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MakePaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/Payments"
    		schemaLocation="../Schemas/Payments.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="MakePaymentRequest">
    <wsdl:part element="xsd1:PaymentReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MakePaymentResponse">
    <wsdl:part element="xsd1:PaymentResp" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Payments">
    <wsdl:operation name="MakePayment">
      <wsdl:input message="tns:MakePaymentRequest"/>
      <wsdl:output message="tns:MakePaymentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentsSOAP" type="tns:Payments">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MakePayment">
      <soap:operation soapAction="http://www.tibco.com/Payments/MakePayment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Payments">
    <wsdl:port binding="tns:PaymentsSOAP" name="PaymentsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
