ES_Common_Model/Service Descriptors/Shipment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/Shipment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Shipment" targetNamespace="http://www.eniquesolutions.com/Shipment/" xmlns:xsd1="http://www.eniquesolutions.com/Shipment">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Shipment/">
      <xsd:element name="TrackShipment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TrackShipmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.eniquesolutions.com/Shipment"
    		schemaLocation="../Schemas/Shipment.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="TrackShipmentRequest">
    <wsdl:part element="xsd1:ShipResquest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TrackShipmentResponse">
    <wsdl:part element="xsd1:ShipmentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Shipment">
    <wsdl:operation name="TrackShipment">
      <wsdl:input message="tns:TrackShipmentRequest"/>
      <wsdl:output message="tns:TrackShipmentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShipmentSOAP" type="tns:Shipment">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TrackShipment">
      <soap:operation soapAction="http://www.tibco.com/Shipment/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Shipment">
    <wsdl:port binding="tns:ShipmentSOAP" name="ShipmentSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
