ES_SessionHander_sh/Schemas/singleElement.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1651817193395" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1651817193395">
    
  <xsd:complexType name="root">
        
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="payload" type="xsd:string"/>
    </xsd:sequence>
      
  </xsd:complexType>
    
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:root"/>
  
</xsd:schema>
